---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h2>Events</h2>
  <ul>
    {%- for event in site.events -%}
      <li>
        {%- assign date_format =
              site.minima.date_format | default: "%b %-d, %Y" -%}
        <span>
          {{ event.date | date: date_format }},
          {{ event.time }} ({{ event.title | escape }})
        </span>
        <h3>
          <a href="{{ event.url | relative_url }}">
            {{ event.sub_title | escape }}
          </a>
          led by {{ event.leader }}
        </h3>
        {{ event.excerpt }}
      </li>
    {%- endfor -%}
  </ul>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format =
              site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe
      <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>
    </p>
  {%- endif -%}

</div>
